@media only screen and (max-width: 44rem) and (min-width: 22.5rem) {
  #header-contato {
    display: flex;
    justify-content: left;
  }

  #header-contato nav ul {
    display: flex;
    height: 100%;
    font-size: 1rem;
    width: 12rem;
    justify-content: space-between;
    margin-left: 1rem;
    font-size: 0.75rem;
  }
  #header-contato li a {
    padding: 0;
    margin: 0;
  }

  main{
    height: 75vh;
  }

  main h1{
    padding: 0;
  }

  main section{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
  }

  .container-image img {
    width: 14rem;
    height:5rem;
    padding: 0.5rem;
    margin: 0 auto;
  }

  form{
    height: 75%;
    margin: 0 auto;
    font-size: 0.75rem;
  }

  form textarea{
    height: 5rem;
    margin: 0;
  }

  footer {
    display: flex;
    height:15vh;

  }
  .logos {
    flex-direction: column;
    height: 100%;
  }

  footer .logos-list {
    width: fit-content;
  }


  footer .contacts {
    flex-direction: column;
    width: 100%;

  }

  .icon-contacts {
    display: flex;
    width: 100%;
  }

}