/* @import url(../../styles/colors.css); */

:root {
  --backgroundPrimaryColor: linear-gradient(
    to right,
    #0f0c29,
    #302b63,
    #24243e
  );
  --secondaryColor: rgb(88, 143, 220);
  --white: #fff;
  --black: #000;
  --transparentBlack: rgba(0,0,0,0.4); 
  --red: #ff3333;
  --grey: #696969;
  --lightGrey: #BBCCBB;
  --backgroundHeader: rgb(255, 255, 255);
  --backgroundFooter: rgba(35, 91, 170, 0.818);
  --purple:#992020;
  --green:#206620;
  --darked: rgb(139,0,0);
}



*{
  font-family: Raleway;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  display:flex;
  align-items: flex-start;
  background-image: url("../../assets/images/fundo.jpg");
  
  
  }


#header-contato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: var(--backgroundHeader);
}

#header-contato div img {
  width: 9.5rem;
  height: 2.5rem;
  padding-left: 1.25rem;
}

#header-contato nav ul {
  display: flex;
  list-style: inside none;
  height: 100%;
  margin-right: 1rem;
}

#header-contato ul li a {
  font-weight: 700;
  color: var(--secondaryColor);
  text-decoration: none;
  padding: 10px;
  margin-left: 1rem;
}

#header-contato ul li a:hover {
  background-color: var(--secondaryColor);
  border-radius: 10px;
  color: white;
  transition: 0.3s;
}

footer {
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: row;
  height:15vh;
  align-items: center;
  padding: 0 10px;
}

footer img{
  width: 20px;
  height: 20px;
}

footer .logos {
  display: flex;
  justify-content: space-between;
  list-style: inside none;
  width: 10rem;
}

footer .contacts {
  list-style: inside none;
  display: flex;
  justify-content: space-around;
  width: 50rem;
  align-items: center;
  height: 100%;
}

footer .contacts li {
  height: 100%;
  display: flex;
  align-items: center;
  
  
}

.contacts a, span{
  margin-left: 0.5rem;
  text-decoration: none;
  
}
.copy{
  font-size: 1rem;
  padding: 5px;
  margin: auto
}

.div-clientes{
    width: 100%;
    height: 75vh; /*Utilizar unidade de medida relativa vh definindo 80% da altura da tela*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.div-titulo {
    height: 10vh;
}

.div-logotipos {
    padding: 1%;
    width: 90%;
    height: 20vh;
    border-radius: 5vh;
    background-color: white;
    display: flex;
    justify-content: space-around;    
    align-items: center;
}

.div-logotipos img {
    /* max-width:150px;
    max-height:100px; */
    /* max-width:150px; */
    max-height:100%;
    width: auto;
    height: 50%;
    /* image-rendering: auto; */
}

h2{
  color:rgb(251, 248, 248); 
  font-size: 30px;
  padding-top: 150px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 100px;
}

.div-comentarios {
    border: 1%;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}

.div-comentario-unitario {
    width: 25%;
    height: 90%;
    padding: 1%;
    border-radius: 5vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.div-comentario-unitario p,strong {
  
    color: rgb(28, 33, 128);
    text-align: center;
    /* font-size: small; */
}

.div-comentario-unitario img {
    width: 30%;
    /* margin: auto; */
}

footer img{
  width: 18px;
  height: 18px;
}


.contacts a, span{
  margin-left: 0.5rem;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;

}


/* Autor: Alexandre Alves Batista */