*{
    font-family: Raleway;
    margin: 0;
    padding: 0; 
}

.configuracao{
    margin-top: 0px auto; 
    width: 1366px;
    height: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.parte1 {
    width: 850px;
    height: 768px;

}

.parte2 {
    width: 516px;
    height: 768px;
    background-image: url(../sobre/entregas.jpg); filter: brightness(60%);
    border: solid white;
    display: flex;
    flex-direction: column;
}

.text1{
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, sans-serif;
    align-items: center;
    border-radius: 50%;
    background-color: green;
    border: solid white;
    z-index: 1;
}

.text1 > h2{
    text-align: center;
    font-size: 15px;
    display: flex;
    width: 125px;
    height: 125px;

}

.text2{
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, sans-serif;
    border-radius: 50%;
    background-color: RED;
    border: solid white;
    z-index: 1;
}

.text2 > h2{
    text-align: center;
    font-size: 15px;
    display: flex;
    width: 125px;
    height: 125px;

}

.not {
    width: 850px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img {
    width: 516px;
    height: 80px;
}

.sist {
    width: 850px;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.not, .text1, .sist, .text2{
    color: whitesmoke;
}

.parte2 > h1 {
    color: white;
    text-align: center;
    
}

.parte2 > p {
    font-size: 20px;
    text-align: center;
    color: white;
}
