/*COR DE FUNDO E8E8F4, 343BCE*/

*{
    font-family: Raleway;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.carrossel{
    position: relative;
}

/*HEADER-----------------------------*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(255, 255, 255);
    
}


header ul{
    display: flex;
    list-style: inside none;
    height: 100%;
    margin-right: 1rem;
}

header li{
    list-style-type: none;
    padding: 15px;    
}

header ul li a{
    font-weight: bold;
    color: var(--secondaryColor);
    text-decoration: none;
    padding: 10px;
    margin-left: 1rem;    
}



.menu ul li a:hover{
    background-color: rgb(88, 143, 220);
    border-radius: 10px;
    color: white;
    transition: 0.3s;    
}

.logo{
    padding-left: 20px;
}



/*CORPO*/


.corpo{
    background-image: linear-gradient(        
        #343BCE,
        #E8E8F4
    );
    
}

/*CARROSSEL---------------------------*/

.carrossel{
    width: 1170px;
    height: 350px;    
    margin: auto;
    background-image: url(../MACOSX_/img/main/carrossel.jpg);
}

.container_top{    
    height: 350px;  
    width: 970px;  
    padding-top: 70px;
    padding-left: 70px;
    margin: auto;
    opacity: 50%;
    background-image: linear-gradient(#44A4B5, #173D75);    
}

.container_top{
    display: none;
}
.container_top.active{
    display: block;
}


.banner_tittle{      
    width: 430px;
    padding-bottom: 15px;    
    background-color:aqua;
}
.banner_text{      
    color: #fff;
    position: absolute;
}

.container_top .slide .banner_bot{  
    margin-top: 120px;
    display: inline-block;
    background: #000;
    color: #ffff;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border:2px solid #44A4B5;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;    
}
.container_top .banner_bot:hover{
    background: #ffff;
    border: 2px solid #44A4B5;
    color: #000;
}


/*BOTÕES--------------------------*/

.carrossel #prev, 
.carrossel #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffff;
    background: #44A4B5;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.carrossel #prev:hover, 
.carrossel #next:hover{
    background: #6bc3d4;
}

.carrossel #prev{
    left: 20px;
}
.carrossel #next{
    right: 20px;
}

/*BAND----------------------------*/



.img_band_int{      
    width: 330px;
    height: 185px;    
}

.container_band{      
    width: 1170px;
    height: 550px;
    margin: auto;
    background-image: url(../MACOSX_/img/main/fundo.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
      
}

.container_geral1{  
    width: 975px;    
    display: flex;
    flex-direction: column;   
    align-items: center; 
    justify-content: center;   
        
}

.container_geral2{      
    background-color: #000;
    opacity: 65%;    
}

.container_lad strong, p{      
    color: #fff;    
}

.container_local1, .container_local2{   
    width: 800px;
    height: 250px;     
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);   
}

.container_local1{       
    display: flex;
    align-items: center;       
}


.container_int1, 
.container_int2, 
.container_int3, 
.container_int4{  
    margin: 1rem;
    width: 330px;
    height: 185px;  
    background-color:crimson;  
}

.container_int1 h3:hover{  
    color: #fff;
    background-color: rgb(88, 143, 220);
}
.container_int2 h3:hover{  
    color: #fff;
    background-color: rgb(88, 143, 220);
}
.container_int3 h3:hover{  
    color: #fff;
    background-color: rgb(88, 143, 220);
}
.container_int4 h3:hover{  
    color: #fff;
    background-color: rgb(88, 143, 220);
}

s
.text1,
.text2,
.text3,
.text4{  
    position: relative;    
}
.text1,
.text2,
.text3,
.text4{  
    position: absolute;    
}

.text1 p, .text2 p, .text3 p, .text4 p{    
    width: 220px;   
    opacity: 75%;
    height: 155px;
    background-color: #173D75;
    color: #fff;
    font-weight: 900px;
}

.text1 h3, .text2 h3, .text3 h3, .text4 h3{      
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 0.3rem;
    background-color: #173D75;
    opacity: 90%;   
}

.text1 p, .text2 p, .text3 p, .text4 p{      
    padding-top: 1.5rem;
    padding-left: 0.3rem;    
    margin-left: 0.5rem;
    
}



/*RODAPE--------------------*/

footer{
    background-color: rgba(35, 91, 170, 0.818);
    height: 142px;
    }
.redes{
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-top: 15px;    
}
.redes-1{
    padding-right: 50px;
}
.ligar,.email{
    background-color: rgb(11, 127, 25); ;
    border-radius: 10px;
    color:white;
    padding: 10px;
    transition: 0.2s;
    text-decoration: none;
    margin-left: 20px;
}
.contato,p{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.copy{
    font-size: 10px;
    padding-left: 100px;
    
}
.icon-contato{
    padding-right: 10px;
    width:40px;
    height:40px;
}

@media only screen and (max-width: 960px) and (min-width: 900px){

    body{
        width: 900px;
    }

    main{
        width:960px;
    }


    /*HEADER-----------------------------*/

    

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 960px;
        background-color: rgb(255, 255, 255);
        
    }


    header ul{
        display: flex;
        list-style: inside none;
        height: 100%;
        margin-right: 5rem;
    }

    header li{
        list-style-type: none;
        padding: 5px;    
        margin: 5px;
        font-size: 15px;
    }

    header ul li a{
        font-weight: bold;
        color: var(--secondaryColor);
        text-decoration: none;
        padding: 5px;
        margin-left: 0.5rem;    
    }



    .menu ul li a:hover{
        background-color: rgb(88, 143, 220);
        border-radius: 10px;
        color: white;
        transition: 0.3s;    
    }

    #logo{
        width: 120px;
        height: 33px;
        margin-right: 7px;        
    }



    /*GERAL-----------------------------*/

    .carrossel{
        width: 960px;
        height: 350px;    
        margin: auto;
        background-image: url(../MACOSX_/img/main/carrossel.jpg);
    }
    
    .container_top{    
        height: 350px;  
        width: 750px;  
        padding-top: 70px;
        padding-left: 70px;
        margin: auto;
        opacity: 50%;
        background-image: linear-gradient(#44A4B5, #173D75);    
    }
    
    
    .container_band{      
        width: 850px;
        height: 550px;
        margin: auto;
        background-image: url(../MACOSX_/img/main/fundo.jpg);
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
          
    }
    
    .container_geral1{  
        width: 820px;    
        display: flex;
        flex-direction: column;   
        align-items: center; 
        justify-content: center;   
            
    }
    
    
    .container_local1, .container_local2{   
        width: 800px;
        height: 250px;     
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);   
    }

    
    .carrossel #prev{
        left: 50px;
    }
    .carrossel #next{
        right: 50px;
    }

    /*CORPO-------------------------------------------*/

    .container_int1, 
    .container_int2, 
    .container_int3, 
    .container_int4{  
        margin: 1rem;
        width: 330px;
        height: 185px;  
        background-color:crimson;  
    }

    /*LATERAL-------------------------------------------*/

    .container_geral2{      
        background-color: #000;
        opacity: 65%;  
        margin-right: 30px;
        display: none;
    }
    .container_lad{
        color: #fff;
    }
    
    .container_lad strong, p{      
        color: #fff;    
        font-size: 15px;
    }
    .propag a{
        text-align:  center;
        margin: auto;
        right: 50px;
        text-decoration: none;
        background-color: #6bc3d4;
    }



    /*RODAPÉ-------------------------------------------*/
    
    
    footer{
        background-color: rgba(35, 91, 170, 0.818);
        height: 142px;
        width: 960px;
    }    

}




@media only screen and (min-width: 820px) and (max-width: 768px){

    

}