.div-clientes{
    width: 100%;
    height: 75vh; /*Utilizar unidade de medida relativa vh definindo 80% da altura da tela*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.div-logotipos {
    padding: 1%;
    width: 90%;
    height: 20vh;
    border-radius: 5vh;
    background-color: white;
    display: flex;
    justify-content: space-around;    
    align-items: center;
}

.div-logotipos img {
    max-width:150px;
    max-height:100px;
    width: auto;
    height: auto;
    /* image-rendering: auto; */
}

.div-comentarios {
    border: 1%;
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-around;
}

.div-comentario-unitario {
    width: 20%;
    height: 90%;
    padding: 1%;
    border-radius: 5vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.div-comentario-unitario p,strong {
    color: rgb(28, 33, 128);
    text-align: center;
    font-size: large;
}

.div-comentario-unitario img {
    width: 35%;
    margin: auto;
}

/* Autor: Alexandre Alves Batista */