.div-clientes{
    width: 100%;
    height: 75vh; /*Utilizar unidade de medida relativa vh definindo 80% da altura da tela*/
    /* border:rgb(234, 231, 121) solid 10px;     */
    /* box-sizing: border-box; */
    /* display: flex; */
}

.div-logotipos {
    border:rgb(123, 11, 127) solid 10px;
    width: 100%;
    height: 30vh;
}

.div-comentarios {
    /* border:rgb(222, 196, 47) solid 10px; */
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-around;
}

.div-comentario-unitario {
    width: 20%;
    height: 100%;
    padding: 20px;
    border-radius: 5vh;
    
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.div-comentario-unitario p,strong {
    color: rgb(28, 33, 128);
    text-align: center;
    font-size: large;
}

.div-comentario-unitario img {
    width: 35%;
    margin: auto;
}

/* Autor: Alexandre Alves Batista */