* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundPrimaryColor: linear-gradient(
    to right,
    #0f0c29,
    #302b63,
    #24243e
  );
  --backgroundSecondaryColor: rgb(88, 143, 220);
  --white: #fff;
  --black: #000;
  --red: #ff3333;
  --grey: #696969;
}



img{
  width: 20px;
  height: 20px;
}

#header-contato  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: rgb(255, 255, 255);
}

#header-contato div img{
  width: 9.5rem;
  height: 2.5rem;
  padding-left: 1.25rem;
}
#header-contato nav ul{
  display: flex;
  list-style: inside none;
  height: 100%;
  width: 20rem;
  justify-content: space-between;
  margin-right: 1rem;
}