* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundPrimaryColor: linear-gradient(
    to right,
    #0f0c29,
    #302b63,
    #24243e
  );
  --backgroundSecondaryColor: rgb(88, 143, 220);
  --white: #fff;
  --black: #000;
  --red: #ff3333;
  --grey: #696969;
}

.container-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--backgroundPrimaryColor);
  font-size: 1rem;
  font-family: Raleway;
  color: var(--white);
  font-weight: 400;
}
.main-container h1 {
  font-weight: 900;
  font-size: 30px;
  text-shadow: 0.1rem 0.1rem var(--grey);
  font-family: Raleway;
  padding: 30px;
}
.main-container-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 40px;
  border: solid 10px;
  justify-items: center;
  width: 60%;
  margin-bottom: 1rem;
}
.container-image {
  width: 100%;
  height: fit-content;
  margin: auto;
  margin-left: 1rem;
}
.container-image img {
  width: 100%;
}

.form-container {
  background-color: var(--backgroundSecondaryColor);
  width: 90%;
  border-radius: 40px;
  margin: auto;
}
form {
  display: flex;
  flex-direction: column;
  border: solid 4px;
  border-radius: 12px;
  font-weight: 600;
}

form input {
  caret-color: var(--red);
  margin-left: auto;
  border-radius: 12px;
  padding: 10px;
  width: 80%;
  border-top: none;
  border-bottom: none;
  align-self: flex-end;
}

form fieldset {
  display: flex;
  align-items: center;
  margin: 0.3rem;
  border-radius: 12px;
  border: solid 2px var(--black);
  background-color: var(--white);
}
label {
  padding: 5px;
  color: #0f0c29;
}
.form-fieldset-message {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 15rem;
}
.text-area {
  height: 100%;
  padding: 5px;
  border-radius: 12px;
  width: 100%;
  margin-top: 2rem;
  height: 11rem;
}

@media screen and (min-device-width: 360px) and (max-device-width: 768px) {
  body {
    width: 100vw;
  }
  .container-logo img {
    width: 120px;
    margin-top: 1rem;
  }

  .menu ul li {
    margin: 0;
    padding: 0;
  }

  .menu ul li a {
    font-size: 12px;
    margin-left: 7px;
  }

  .menu ul li a:hover {
    background-color: var(--backgroundSecondaryColor);
    border-radius: 10px;
    color: white;
    padding: px;
    transition: 0.2s;
  }
  .main-container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5px 20px 5px 5px;
    width: auto;
  }

  .main-container h1 {
    font-size: 20px;
  }
  .main-container-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .container-image {
    height: fit-content;
    width: 70%;
    margin: auto;
    padding: 2rem;
  }

  .form-container {
    margin: auto;
    width: 90%;
    padding: 1rem;
  }
  form fieldset {
    font-size: 11px;
    width: 100%;
    margin: 0;
    padding-right: 2px;
  }
  .form-fieldset-message label {
    margin-bottom: 2rem;
  }

  .text-area {
    height: 180px;
    margin: 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundSecondaryColor);
    height: fit-content;
  }

  .contato {
    display: flex;
    margin: auto;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .contato a {
    margin-left: 2rem;
  }

  .contato p {
    display: flex;
    align-self: flex-start;
  }
}
