*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}
header{
    display: flex;
    justify-content: space-between;
    
}
ul{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 80px;
}
li,a{
    margin-left: 1.5em;
    list-style: none;
    text-decoration: none;
}

footer{
    background-color: grey
}
p,h1,h2{
    color:rgb(1, 0, 0)
    
}
section{
    background-color: rgb(235, 237, 237);
}