@import url(../../styles/colors.css);
*{
    font-family: Raleway;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    width: 100vw;
    height: 70vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    
}


.menu  li a{
    
    font-weight: 700;
    color: rgb(88, 143, 220);
    text-decoration: none;
    padding: 10px;
    margin-left: 1rem;
    
}

.nav a{
    height: 25px;
    width: 90px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 1rem;
    
}
li{
    list-style-type: none;
    padding: 5px;
    
    
}
nav{
    margin-right: 30px;
}

 .menu .acesso {
    background-color: rgb(88, 143, 220);
    border-radius: 10px;
    color:rgb(251, 251, 251);
    padding: 10px;
    transition: 0.2;
    opacity: 5;
    
}



.logo{
    padding-left: 20px;
}
section{
    display:flex;
    align-items: flex-start;
    background-image: url("../assets/images/fundo.jpg");
    
    }
 
.principal{
    margin-top: 0px auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }

p{
    color:rgb(251, 248, 248); 
    margin-top: 15px;
}
h1{
    color:rgb(251, 248, 248); 
    font-size: 45px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 150px;
}
h2{
    color:rgb(251, 248, 248); 
    font-size: 30px;
    padding-top: 150px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 100px;
}
 
.item-1{
    padding-top: 200px;
    padding-right: 45px;
    padding-left: 20px;
    font-size: 23px;
    padding-bottom: 90px;
    margin: 10px;
    
}
.item-2{
    padding-top: 500px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 23px;
    margin: 10px;
}
.blog{
   background-color: rgba(255, 255, 255, 0.3);
   color: white;
   width: 500px;
   height: 1200px;   
   border-radius: 0px ;
   text-decoration: none;
   }
.link-blog a{
    text-decoration: none;
    font-weight: 600;
    color:rgb(17, 16, 16);
    background-image: url("../assets/images/fondo-link.jpg");
    display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
   border-radius: 20px;
   margin-bottom: 118px;
    
}


.title-blog{
    color:white;
    padding: 25px;
    text-align: center;
    margin-left: 0px;
    background-color: #302b63;
    width: 100%;
    border-radius: 10px 10px 0px 0px;

}


ul{
    display: flex;
    align-items: center;
    height: 100%;
   
}

footer {
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: row;
    height:15vh;
    align-items: center;
    padding: 0 10px;
  }
  footer .logos {
    display: flex;
    justify-content: space-between;
    list-style: inside none;
    width: 10rem;
  }
  footer .contacts {
    list-style: inside none;
    display: flex;
    justify-content: space-around;
    width: 50rem;
    align-items: center;
    height: 100%;
  }
  footer .contacts li {
    height: 100%;
    display: flex;
    align-items: center;
    
    
  }
  .copy{
    font-size: 1rem;
    padding: 5px;
    margin: auto
  }


footer img{
        width: 18px;
        height: 18px;
      }
.contacts a, span{
        margin-left: 0.5rem;
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
      
      }
