*{
    font-family: Raleway;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    width: 100vw;
    height: 70vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    
}


.menu  li a{
    font-weight: 700;
    color: rgb(88, 143, 220);
    text-decoration: none;
    
}
li{
    list-style-type: none;
    padding: 30px;
    
}
.menu ul li a:hover{
    background-color: rgb(88, 143, 220); ;
    border-radius: 10px;
    color:white;
    padding: px;
    transition: 0.2s;
 
    
}
.logo{
    padding-left: 20px;
}
section{
    display:flex;
    align-items: flex-start;
    background-image: url("../assets/images/fundo.jpg");
    
    }
 
.principal{
    margin-top: 0px auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }

p{
    color:rgb(251, 248, 248); 
}
h1{
    color:rgb(251, 248, 248); 
    font-size: 45px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 150px;
}
h2{
    color:rgb(251, 248, 248); 
    font-size: 30px;
    padding-top: 150px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 100px;
}
 
.item-1{
    padding-top: 160px;
    padding-right: 45px;
    padding-left: 20px;
    font-size: 23px;
    padding-bottom: 50px;
    margin: 10px;
    
}
.item-2{
    padding-top: 300px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 23px;
    margin: 10px;
}
.blog{
   background-color: rgba(255, 255, 255, 0.3);
   color: white;
   width: 500px;
   height: 1200px;   
   border-radius: 30px ;
   text-decoration: none;
   }
.link-blog a{
    text-decoration: none;
    color:aqua;
    background-color: blue;
    display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
   border-radius: 20px;
   margin-bottom: 200px;
    
}
.title-blog{
    color:white;
    padding: 25px;
    text-align: center;
    margin-left: 0px;
    background-color: #302b63;
    width: 100%;
    border-radius: 10px 10px 0px 0px;

}


ul{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 80px;
}


footer{
    background-color: rgba(35, 91, 170, 0.818);
    height: 20vh;
    }
.redes{
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-top: 15px;    
}
.redes-1{
    padding-right: 50px;
}
.ligar,.email{
    background-color: rgb(11, 127, 25); ;
    border-radius: 10px;
    color:white;
    padding: 10px;
    transition: 0.2s;
    text-decoration: none;
    margin-left: 20px;
}
.contato,p{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
}
.copy{
    font-size: 10px;
    padding-left: 100px;
    
}
.icon-contato{
    padding-right: 10px;
    width:40px;
    height:40px;
}