*{
    font-family: Raleway;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(255, 255, 255);
    
}


.menu li a{
    margin-left: 1.5em;
    font-weight: 700;
    color: rgb(88, 143, 220);
    text-decoration: none;
    

}
li{
    list-style-type: none;
    margin-right: 20px;
}
.menu ul li a:hover{
    background-color: rgb(88, 143, 220); ;
    border-radius: 10px;
    color:white;
    padding: 10px;
    transition: 0.2s;
    
}
section{
    display:flex;
    align-items: flex-end;
    /*background: linear-gradient(to right, #0f0c29,#302b63,#24243e);*/
    background: radial-gradient(circle, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 37%, rgba(36,36,62,1) 100%);
}
 
.principal{
    margin-top: 0px auto;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: radial-gradient(circle, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 37%, rgba(36,36,62,1) 100%);
    /*background: linear-gradient(to right, #0f0c29, #302b63, #24243e);*/
}

p{
    color:rgb(251, 248, 248); 
}
h1{
    color:rgb(251, 248, 248); 
    font-size: 45px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
h2{
    color:rgb(251, 248, 248); 
    font-size: 30px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
}
 
.item-1{
    padding-right: 45px;
    padding-left: 20px;
    font-size: 23px;
    padding-bottom: 50px;
    margin: 10px;
    
}
.item-2{
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 23px;
    margin: 10px;
}
.blog {
   background-color: rgba(227, 200, 191, 0.794);
   color: white;
   width: 500px;
   height: 1200px;   
   border-radius: 30px ;
   
   
   
}
.title-blog{
    color:white;
    padding: 25px;
    text-align: center;
    margin-left: 0px;
    background-color: #302b63;
    width: 100%;
    border-radius: 10px 10px 0px 0px;

}
.blog p a{
    display: flex;
   flex-direction: column;
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 250px;
    
}

ul{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 80px;
}


footer{
    background-color: rgba(35, 91, 170, 0.818);
    height: 140px;
    }
.redes{
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-top: 15px;    
}
.redes-1{
    padding-right: 50px;
}
.ligar,.email{
    background-color: rgb(11, 127, 25); ;
    border-radius: 10px;
    color:white;
    padding: 10px;
    transition: 0.2s;
    text-decoration: none;
    margin-left: 20px;
}
.contato,p{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.copy{
    font-size: 10px;
    padding-left: 220px;
    
}
.icon-contato{
    padding-right: 10px;
    width:40px;
    height:40px;
}